div.MuiTabs-root {
	button.MuiTab-labelIcon {
		min-height: 70px; // TAB_HEIGHT
	}
	button.MuiButtonBase-root.MuiIconButton-root {
		color: white;
	}
}

@media (max-width: 481px) {
	div#side-drawer-frame {
		width: 100vw !important;
	}
}
