html,
body,
#root {
	height: 100%;
	overflow: hidden;
}

#root {
	display: flex;
}

.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}

.PageWrapper {
	background-color: lightblue;
}

.PageInner {
	height: 100%;
	width: 100%;
	padding: 1em;
}
